@import url(https://fonts.googleapis.com/css?family=Open+Sans&display=swap);* {
  font-family: "Open Sans", sans-serif;
}

.nav {
  z-index: 2;
}

.nav.nav-top {
  background: #4dd2d2;
  background: linear-gradient(90deg, #4dd2d2 0%, #002b50 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=$color1,endColorstr=$color2,GradientType=1);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 70px;
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.35);
}

.nav.nav-top .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nav.nav-top .nav-top__container-logo {
  width: 100%;
}

.nav.nav-top .nav-top__container-logo img {
  width: 100%;
  max-width: 150px;
  min-width: 100px;
  margin: 5px auto auto 5px;
}

.nav .navbar {
  font-size: 14pt;
  color: #ffffff;
  width: 100%;
  text-align: right;
}

.nav .navbar .btn.btn-menu {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  color: #ffffff;
  margin-right: 10px;
}

.nav .navbar ul {
  display: none;
  position: fixed;
  top: 70px;
  left: 0;
  right: 0;
  background: #4dd2d2;
  background: linear-gradient(90deg, #4dd2d2 0%, #002b50 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=$color1,endColorstr=$color2,GradientType=1);
  margin: auto;
  padding: 0;
  list-style: none;
  text-align: center;
  text-transform: uppercase;
  padding: 10px 0;
}

.nav .navbar ul li {
  margin: 10px;
}

.nav .navbar ul li a {
  text-decoration: none;
  color: #ffffff;
}

.nav .nav-top__position-left {
  width: 33.3333333333%;
  order: 1;
}

.nav .nav-top__position-right {
  width: 33.3333333333%;
  order: 3;
}

@media screen and (min-width: 768px) {
  .nav.nav-top {
    height: 80px;
  }

  .nav.nav-top .container {
    width: 80%;
  }

  .nav.nav-top .nav-top__container-logo img {
    margin-top: 10px;
  }

  .nav .navbar .btn.btn-menu {
    display: none;
  }

  .nav .navbar ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: unset;
    background: rgba(0, 0, 0, 0);
    margin: auto;
  }
}

@media screen and (min-width: 1024px) {
  .nav .navbar.nav-horizontal ul li {
    margin: 0 10px;
    float: left;
  }
}

.container {
  width: 90%;
  margin: auto;
  padding: 5px;
}

@media screen and (min-width: 768px) {
  .container {
    width: 80%;
    max-width: 1200px;
  }
}

.btn {
  padding: 10px;
  font-size: 22pt;
}

.container-main {
  margin-top: 70px;
  z-index: 1;
}

@media screen and (min-width: 1024px) {
  .container-main {
    margin-top: 80px;
  }
}

.container-person {
  display: flex;
  flex-direction: row;
  margin: 20px 0;
  padding: 10px;
  background-color: #ffffff;
  position: relative;
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.35);
}

.container-person__container_id {
  position: absolute;
  background-color: #4dd2d2;
  color: #002b50;
  padding: 5px;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  text-align: center;
  font-weight: bold;
  line-height: normal;
  left: 105px;
  top: 25px;
}

.container-person__photo {
  width: 100px;
  height: 100px;
  min-width: 100px;
  overflow: hidden;
  border-radius: 50%;
  margin-right: 5px;
  margin-left: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-person__data {
  display: flex;
  flex-direction: row;
  font-size: 10pt;
}

.container-person__data ul {
  list-style: none;
  margin: auto;
  padding: 0;
}

.container-person__data ul li {
  margin: 10px auto;
}

.container-person__data__title {
  text-transform: uppercase;
  min-width: 60px;
  color: #707070;
  text-align: right;
  padding-right: 5px !important;
}

.container-person__data__legends {
  font-weight: bold;
  color: #002b50;
  text-align: left;
}

.container-person__data__form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 10px;
}

.container-person__data__form h4 {
  font-size: 12pt;
  margin: 0;
}

.container-person__data__form span {
  color: #707070;
}

.container-person.is-active {
  background-color: #002b50;
  color: #ffffff;
}

.container-person.is-active .container-person__data__form span {
  color: #ffffff !important;
}

@media screen and (min-width: 1024px) {
  .container-person__container_id {
    left: 130px;
  }

  .container-person__photo {
    margin-right: 20px;
    width: 135px;
    height: 135px;
    min-width: 135px;
  }

  .container-person__data {
    font-size: 12pt;
  }

  .container-person__data__form {
    margin-left: 5px;
  }
}

.container-people {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.container-people .container-person {
  cursor: pointer;
}

.col-12-12 {
  width: 100%;
  margin: auto;
}

.col-3-6-12 {
  width: 100%;
}

@media screen and (min-width: 1024px) {
  .col-3-6-12 {
    width: 31.3333333333%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .col-3-6-12 {
    width: 48%;
  }
}

.hidden {
  display: none;
}

.show {
  -webkit-animation: show 1s linear 0s;
  animation: show 1s linear 0s;
  display: block !important;
}

body {
  background-color: #d9d9d9;
}

