.container-people {
  @include displayFlexRow();
  justify-content: space-between;
  flex-wrap: wrap;

  .container-person {
    cursor: pointer;
  }



  @media screen and (max-width: 768px) {
    margin-top: 150px;
  }
}