$color-blue-dark: #002b50;
$color-blue-ligth: #4dd2d2;
$color-gray: #d9d9d9;
$color-gray-ligth: #f0f1ef;
$color-gray-dark: #707070;
$color-white: #ffffff;
$color-black-transparent: rgba(0, 0, 0, 0.51);
$color-transparent: rgba(0, 0, 0, 0);