.nav {
  z-index: 3;
  &.nav-top {
    @include backgroundDegradeLinearTwoColors($color-blue-ligth, $color-blue-dark);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
    -webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.35);
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.35);

    .container {
      @include displayFlexRow();
      justify-content: space-between;
      align-items: center;
    }

    .nav-top__container-logo {
      width: 100%;

      img {
        width: 100%;
        max-width: 150px;
        min-width: 100px;
        margin: 5px auto auto 5px;
      }
    }
  }

  .navbar {
    font-size: 14pt;
    color: $color-white;
    width: 100%;
    text-align: right;

    .btn.btn-menu {
      background-color: $color-transparent;
      border: none;
      color: $color-white;
      margin-right: 10px;
    }

    ul {
      display: none;
      position: fixed;
      top: 65px;
      left: 0;
      right: 0;
      @include backgroundDegradeLinearTwoColors($color-blue-ligth, $color-blue-dark);
      @include resetMargins();
      @include resetPaddings();
      list-style: none;
      text-align: center;
      text-transform: uppercase;
      padding: 10px 0;

      li {
        margin: 10px;

        a {
          text-decoration: none;
          color: $color-white;
        }
      }
    }
  }

  .nav-top {
    &__position-left {
      width: (100 / 3) + 0%;
      order: 1;
    }

    &__position-right {
      width: (100 / 3) + 0%;
      order: 3;
    }
  }

  @media screen and (min-width: 768px) {
    &.nav-top {
      height: 80px;

      .container {
        width: 80%;
      }

      .nav-top__container-logo {
        img {
          margin-top: 10px;
        }
      }
    }
    .navbar {
      .btn.btn-menu {
        display: none;
      }

      ul {
        @include displayFlexRow();
        justify-content: space-around;
        position: unset;
        background: $color-transparent;
        margin: auto;
      }
    }
  }

  @media screen and (min-width: 1024px) {
    .navbar {
      &.nav-horizontal {
        ul {
          li {
            margin: 0 10px;
            float: left;
          }
        }
      }
    }
  }
}
